<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<defaultDocument enabled="true">
			<files><clear></clear>
				<add value="Login.asp"></add>
				<add value="Default.asp"></add>
				<add value="Default.htm"></add>
				<add value="index.htm"></add>
				<add value="index.html"></add>
				<add value="iisstart.htm"></add>
			</files>
		</defaultDocument>
		<security>
			<authorization>
				<add accessType="Allow" users="?"></add>
			</authorization>
		</security>
		<handlers accessPolicy="Read, Execute, Script">
			<remove name="AboMapperCustom-51199"></remove>
			<remove name="AboMapperCustom-461705"></remove>
			<remove name="AboMapperCustom-136760"></remove>
		</handlers>
	</system.webServer>
	<location path="DfResource">
		<system.webServer>
			<dataflexHttpModule application="ISC" enabled="true" object="oWebResourceManagerProxy" verbs="GET,POST" errortype="0"></dataflexHttpModule>
		</system.webServer>
	</location>
</configuration>
